* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  width: 80%;
  margin: auto;
  position: relative;
}

.container .top_util {
  position: absolute;
  width: 100%;
  display: flex;
  left: 45vw;
}
.container .top_util li {
  margin-left: 0.4vw;
}
.container .top_util li::after {
  content: "|";
  margin-left: 0.4vw;
  color: rgb(109, 105, 105);
}
.container .top_util li a {
  font-size: 12px;
  color: rgb(109, 105, 105);
}

.container header {
  position: relative;
  display: flex;
}
.container header .logo {
  width: 7vw;
  height: 6vw;
  position: relative;
  left: 15vw;
  top: 1vw;
}
.container header .logo img {
  width: 100%;
  height: 100%;
}
.container header .search {
  position: absolute;
  top: 3vw;
  left: 27vw;
}
.container header .search input {
  width: 90%;
  width: 22vw;
  height: 2vw;
  border-radius: 20px;
  border: 1px solid yellowgreen;
}
.container header .search input:focus {
  outline-color: yellowgreen;
}
.container header .search i {
  cursor: pointer;
}
.container header .header__right {
  position: absolute;
  display: flex;
  margin: auto;
  right: 11vw;
  top: 3.5vw;
  margin-left: 1vw;
}
.container header .header__right li {
  margin-left: 1vw;
  font-size: 0.75vw;
  cursor: pointer;
}
.container header .header__right i {
  margin-left: 0.3vw;
  font-size: 0.7vw;
}

.category {
  display: flex;
  border: 1px solid #c8c8c8;
  border-bottom: 1px solid black;
  padding: 0.4vw 0vw;
  top: 5vw;
}
.category .lists {
  display: flex;
  margin-left: 33vw;
  font-size: bold;
}
.category .lists li {
  margin: 0 1.5vw;
  font-weight: bold;
  cursor: pointer;
}
.category .lists li:hover {
  color: coral;
}

.slick-prev {
  position: absolute;
  z-index: 1;
  top: 21vw;
  left: 40vw;
  padding: 0.3vw 0.7vw;
  border-radius: 10px;
  border: 1px solid #c8c8c8;
}

.slick-next {
  position: absolute;
  top: 21vw;
  left: 57vw;
  z-index: 1;
  padding: 0.3vw 1vw;
  border-radius: 10px;
  border: 1px solid #c8c8c8;
}

.slide {
  width: 100%;
  padding-bottom: 2vw;
}

.container .ad img {
  width: 100%;
}

.container .items {
  display: flex;
}
.container .items .item {
  border: 1px solid #000;
  flex: 1;
}
.container .items .item .jihoonItem {
  display: flex;
}
.container .items .item .jihoonItem img {
  width: 10vw;
  height: 10vw;
}

.container .inquire {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.container .inquire .wrap {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.container .inquire .wrap .notify h4 {
  color: #777;
}
.container .inquire .wrap .service-Center h4 {
  color: #999;
}
.container .inquire .wrap .service-Center p {
  font-size: 2vw;
  color: rgb(187, 239, 82);
}

footer {
  width: 100%;
  background-color: #eee;
}
footer .nav {
  height: 4vw;
  line-height: 4vw;
}
footer .nav a::after {
  content: "|";
  margin-left: 1vw;
}
footer .company {
  width: 100%;
  background-color: #fff;
  height: 10vw;
}
footer .company .container {
  display: flex;
  justify-content: space-between;
  padding: 1vw;
}
footer .company .container .team-logo {
  width: 7vw;
  height: 7vw;
}
footer .company .container .team-logo img {
  width: 100%;
  height: 100%;
}
footer .copyRight {
  width: 100%;
  background-color: #eee;
  height: 3vw;
}

/*# sourceMappingURL=style.css.map */
