body {
  background-color: rgb(69, 69, 69);
  background-repeat: no-repeat;
  color: white;
  font-size: 25px;
}

img {
  width: 35vw;
  height: 40vh;
}

a {
  color: white;
  font-weight: 700;
  text-decoration: none;
  border: 2px solid white;
}
